<html>
<head>
  <title> Check Moist </title>
</head>
<body>
  <center>
  <h2> Automated Microgreen </h2>
  <br>
  <br>
  <p> Soil moist now : <b>{{ soil_moist }}</b></p>
</center>
  <br>
  <form action="" method="get">
    <center>
      <button name="soil_moist" value="check_now"> CHECK SOIL MOIST </button>
    </center>
  </form>
</br>
<br>
<center>
<p> Air humid now : <b>{{ air_humid }}</b></p>
</center>
<br>
<form action="" method="get">
  <center>
    <button name="air_humid" value="check_now"> CHECK AIR HUMID </button>
  </center>
</form>
</br>
<br>
<center>
<p> Temperature now : <b>{{ temp }}</b></p>
</center>
<br>
<form action="" method="get">
  <center>
    <button name="temp" value="temp"> CHECK TEMPERATURE </button>
  </center>
</form>
</br>
<br>
<center>
<p> LED status : <b>{{ led_status }}</b></p>
</center>
<br>
<form action="" method="get">
  <center>
    <button name="led" value="I/O"> I/O </button>
  </center>
</form>
</br>
<br>
<center>
<p> pump status : <b>{{ pump_status }}</b></p>
</center>
<br>
<form action="" method="get">
  <center>
    <button name="pump" value="I/O"> I/O </button>
  </center>
</form>
</br>
</body>
</html>
